<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
<h1>Adicionar Evento</h1>



<div>
<label>Nome:</label> <input type="text" name="nome">
</div>

<div>
<label>Local:</label> <input type="text" name="local">
</div>

<div>
<label>Data:</label> <input type="text" name="data">
</div>

<div>
<label>Horário:</label> <input type="text" name="horario">
</div>

<div>
<button type="submit">Salvar</buttoon>
<button type="reset">Limpar</buttoon>
</div>

</form>
</body>
</html>